<div style="padding-bottom: 40px">
  <hr>
  <div class="container clearfix" style="padding-top: 25px">
    <div class="row">
      <div class="col-md-6 text-center" style="padding-left: 50px">
        <div class="row text-left">
          <div class="col-md-3">
            <div>用户帮助</div>
            <a class="text-secondary footer-item" href="#">我的客服</a>
          </div>
          <div class="col-md-3">
            <div>商务合作</div>
            <a class="text-secondary footer-item" href="#">加盟指南</a><br>
            <a class="text-secondary footer-item" href="#">市场合作</a><br>
            <a class="text-secondary footer-item" href="#">开放平台</a>
          </div>
          <div class="col-md-3">
            <div>关于我们</div>
            <a class="text-secondary footer-item" href="#">竞拍网介绍</a><br>
            <a class="text-secondary footer-item" href="#">加入我们</a><br>
            <a class="text-secondary footer-item" href="#">联系我们</a><br>
            <a class="text-secondary footer-item" href="#">规则中心</a><br>
            <a class="text-secondary footer-item" href="#">隐私条款</a>
          </div>
          <div id="shu" class="col-md-3">
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-1">
                <div class="line float-lg-right"></div>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row text-left">
          <div class="col-md-6">
            <div>24小时客服热线：400-4008100</div>
            <br>
            <div style="font-size: 16px">关注我们：
              <a id="weixin" class="text-secondary" style="padding-right: 5px">
                <span class="fa fa-wechat hoverx"></span>
              </a>
              <a id="weibo" class="text-secondary" target="_blank"
                 href="https://weibo.com/5563273359/profile?topnav=1&wvr=6"><span
                class="fa fa-weibo hoverb"></span>
              </a>
            </div>
            <div style="font-size: 16px;"><span class="fa fa-share-alt"></span>分享给朋友：
              <a><span class="fa fa-qq"></span></a>
              <a><span class=""></span></a>
              <a><span></span></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="media">
              <img src="../../assets/weixin.jpg" width="80px" height="80px">
              <div class="media-body" style="padding: 5px 10px">
                <h5>下载手机版</h5>
                <p style="font-size: 14px">扫一扫，手机竞拍更方便</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
